body{
  width: 100%;
  padding: 0;
  margin: 0;
  font: normal 19px Impact;
}

.main-nav{
  width: 100%;
  height: 37px;
  background-color:#a64dff;
}
ul{
  margin: 0 auto;
  padding: 0;
  width: 900px;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}
li{
  display:inline-block;
}
li:hover{
  background-color: #eeeeee;
}
.main-nav li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 7px 20px;
}
.main-nav li a:hover{
  color: #9fa2b5;
}

/*.font-up{
  margin:30px;
  font:myfont;
}*/
/*.triangle{
  box-sizing:border-box;
  width:50px;
  height:50px;
  border-bottom:100px solid lime;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}*/
