
.paginator{
  display: block;
  margin:0;
  padding: 0;
}
li{
  display: inline-block;
}
a{
  display: block;
  text-decoration: none;
  color: #a23cd0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding:5px 9px;
}

a:hover{
  color: #fff;
  border-color: #7c12bc;
  background-color: #a23cd0;
}
.left-text::before{
  content:"«";
  margin-right: 5px;
}
.right-text::after{
  content:"»";
  margin-left: 5px;
}

.current{
  color: #fff;
  border-color: #7c12bc;
  background-color: #a23cd0;
}
.left-text, .left-text:hover, .right-text, .right-text:hover {
  border: none;
  padding: 0;
  margin: 10px;
  background-color:#fff;
  color: #a23cd0;
  text-align: center;
  vertical-align: middle;
}
.hidden, .hidden:hover{
  border: none;
  background-color:#fff;
  color: #a23cd0;
  text-align: center;
  vertical-align:middle;
}
